/*==================================================================

                         Global Styles

===================================================================*/
.container {

}

.padding-table {
  padding:5px 0 5px 15px;
}

.margin-top-5 {
  margin-top:5px;
}

.margin-top-15 {
  margin-top:15px;
}

.margin-top-25 {
  margin-top:25px;
}

.margin-top-50 {
  margin-top:50px;
}

.margin-left-25 {
  margin-left:25px;
}

.margin-left-50 {
  margin-left:50px;
}

.padding-left-50 {
  padding-left:50px;
}

.font-size-20 {
  font-size:20px;
}

.font-size-24 {
  font-size:24px;
}

.italic {
  font-style: italic;
}

.buttons {
  background-color:#AD514C;
  color:#fff;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px
}

.buttons:hover {
  background-color:#F58C89;
  color:#fff;
}

/*==================================================================

                        Start Page Styles

===================================================================*/

/*==================================================================

                      Init Questions Styles

===================================================================*/
.prog {
  height:15px;
  border-radius: 3px;
  background-color:#e5e5e5;
}

.progress-bar-info {
  background-color: #AD514C;
}

.table-header-top {
  min-height:20px;
  border-bottom:2px solid #A0BF3B;
  color:#000;
}

.table-header-bottom {
  min-height:20px;
  border-top:2px solid #A0BF3B;
  color:#000;
}

/*==================================================================

                  Whiteboard Questions Styles

===================================================================*/
.middle.ng-enter {
  -webkit-animation: zoomIn .75s;
  -moz-animation: zoomIn .75s;
  -o-animation: zoomIn .75s;
  animation: zoomIn .75s;
}

.active:first-of-type {
  display: block;
}

.fadeInDown {
  display: block;
  -webkit-animation: fadeInDown .75s;
  -moz-animation: fadeInDown .75s;
  -o-animation: fadeInDown .75s;
  animation: fadeInDown .75s;
}

.inactive {
  display: none;
}

.prevBtn.ng-hide-remove {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.radio-label {
  font-size:20px;
}

.radio-title {
  font-size:1.7em;
  font-weight: 300;
}

md-radio-button .md-container, 
md-radio-button .md-off, 
md-radio-button .md-on {
  width:25px;
  height:25px;
}

md-radio-group:not([disabled]) .md-primary.md-checked .md-off {
  border-color:#3E4B83;
}  

md-radio-group:not([disabled]) .md-primary .md-off {
  border:2px solid #bcbec0;
}

md-radio-group:not([disabled]) .md-primary .md-on {
  border:2px solid #3E4B83;
  background-color:#3E4B83;
}

.required-message {
  color:#ff0000;
}

/*==================================================================

                            Email Form 

===================================================================*/
.form-instructions {
  font-size:24px;
  margin-top:15px;
}

.submit-btn {
  background-color:#AD514C;
  color:#fff;
}

/*==================================================================

                            Results

===================================================================*/
.ebook {
  width:300px;
  height:auto;
}

.download-btn {
  width:60%;
}