<h4 class="text-center">Your Progress {{ (currentIndex/totalNumQuestions) * 100 | number: 0}}%:</h4>
<div class="row">
	<div class="col-sm-12">
		<uib-progressbar 
			class="active prog" 
			max="7" 
			value="barValue" 
			type="info">
		</uib-progressbar>
	</div>
</div>

<div class="alert alert-success" role="alert">Congratulations, you are almost done!</div>

<div class="form-instructions text-center">
To find out your results, please enter your name and email address.
</div>

<form role="form" name="resultsForm" ng-submit="submitForm()" novalidate>

  <div class="row">

	<div class="col-sm-6 form-group">
	  <label for="firstName">First Name</label>
	  <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
	
	  <p ng-show="resultsForm.firstName.$invalid && !resultsForm.firstName.$pristine" class="help-block">First name is required.</p>
	</div>

	<div class="col-sm-6 form-group">
	  <label for="lastName">Last Name</label>
	  <input type="text" class="form-control" name="lastName" placeholder="Last Name">
	</div>

  </div>  

  </div>

  <div class="form-group">
    <label for="userEmail">Email address</label>
    <input type="email" class="form-control" name="userEmail" placeholder="Email" required>
  </div>

  <div ng-if="resultsForm.$submitted" ng-messages="resultsForm.userEmail.$error">
    <div ng-message="required">Email is required</div>
  </div>

  <div class="actionBtns">
    <input type="button" class="btn btn-lg" ng-click="prev()" value="Previous">
    <input type="submit" class="btn btn-lg submit-btn" value="Submit">
  </div>

</form>