<div class="font-size-24" ng-class="{ active : questionIndex == $index, inactive: questionIndex !== $index }" ng-repeat="q in secondQuestions">
        {{q.text}}
  
	<div class="margin-top-15 table-header-bottom font-size-20"></div>

    <div class="margin-top-5 padding-left-50">     
        <div class="radio-container">          	
          <md-radio-group name="score" ng-model="data.group">           		
            <md-radio-button class="md-primary font-size-20" value="Yes">Yes</md-radio-button>              
            <md-radio-button class="md-primary font-size-20" value="No">No</md-radio-button>              
          </md-radio-group>
        </div>

        <div ng-if="scoreForm.$submitted" ng-messages="scoreForm.score.$error" role="alert">
          <div ng-message="required">Please choose a number.</div>
        </div>     
    </div>

  <div class="margin-top-15 table-header-top font-size-20"></div>

</div>

    <div class="margin-top-15 pull-right">
      <button type="button" class="btn buttons prevBtn" ng-click="prev()">Previous</button>
      <button type="submit" class="btn buttons" ng-click="next()">Next</button>              
    </div>
